# Git関連
.git
.gitignore

# 依存関係フォルダ (コンテナ内で pnpm install するため不要)
node_modules

# Next.jsのビルドキャッシュと成果物
.next/
dist/
build/

# ローカル環境変数ファイル
.env
.env.local

# ログファイル
*.log

# IDE/エディタ設定
.vscode/
.idea/

# OS固有ファイル
.DS_Store